{% extends "course\basic.html" %} 

{% load static %}

{% block title %}
 block title
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
{% endblock head %}

{% block css %}
.btn-primary {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.btn-primary:hover {
  opacity: 0.7;
}
{% endblock css %}

{% block body %}


    <div class="container">

      <h1 class="display-3 mb-5 text-center"><strong style="font-family: Georgia, 'Times New Roman', Times, serif;">Movie List</strong></h1>

      <!-- second -->

      {% for key,value in data.items %}

      <div>
      <h1 class="display-5 mb-5 text-start">{{key}}</h1>
  
        <div class="d-flex justify-content-evenly course-container container">
  
             {% for i in value %}
        
          <div class="card mb-2" style="width: 20rem; padding: 1rem;">
            <img src="/media/{{i.image}}" class="card-img-top" alt="..." style="height: 310px;">
            <div class="card-body">
              <h5 class="card-title">{{i.name}}</h5>
              
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Rating: <i class="fas fa-star"></i>{{i.desc}}/10</li>
                <li class="list-group-item">{{i.price}} INR</li>
                <li class="list-group-item">{{i.pub_date}}</li>
                <li class="list-group-item">{{i.category}}</li>                
              </ul>
              
              <button class="btn btn-primary" onclick="addtocart('{{i.id}}','{{i.name}}')"><i class="fas fa-shopping-cart"></i>Add to cart</button>
              <!-- <a href="/course/detail/{{i.id}}" class="btn btn-primary">Add to cart</a> -->
              {% comment %} <a href="/course/detail/{{i.id}}" class="btn btn-primary">View Details</a> {% endcomment %}
            </div>
          </div>
          
      {% endfor %}
          
        </div>
      </div>     

      {% endfor %} 

    </div>

    <script>
      const addtocart =(id,name)=>{
        // console.log(id);
        var cart = JSON.parse(localStorage.getItem("cart"))
        console.log(cart);

        if(cart)
        {
          if(cart[id]){
            cart[id] = {name:name,value: cart[id].value + 1}
          }
          else{
            cart[id]={name:name,value:1}
          }
        }

        else{
          cart = {[id]:{name:name,value:1}}
        }

        

        localStorage.setItem("cart",JSON.stringify(cart))

        var value = JSON.parse(localStorage.getItem("cart"));
     
      document.getElementById("cartID").innerHTML = Object.keys(value).length

      }
    </script>

{% endblock body %}
